<div class="SkybrudUmbracoRedirects" ng-controller="SkybrudUmbracoRedirects.PropertyEditor.Controller">
    
    <div class="header">
        <label class="control-label">
            {{model.label}}
            <small>{{model.description}}</small>
        </label>
        <div ng-if="mode == 'list'" class="filters">
            <div>
                <button type="button" ng-click="addRedirect()" class="btn btn-success">
                    <localize key="redirects_addNewRedirect">Add new redirect</localize>
                </button>
                <button type="button" ng-click="updateList()" class="btn btn-default">
                    <localize key="redirects_reload">Reload</localize>
                </button>
            </div>
        </div>
    </div>

    <div ng-if="mode == 'create'" class="alert alert-info">
        <localize key="redirects_pageNoRedirects">Din side er endnu ikke oprettet. Du skal gemme eller publicere siden for, at kunne tilføje redirects.</localize>
    </div>

    <div ng-if="mode == 'list'">
        <div class="list" ng-class="{loading: loading}">
            <umb-load-indicator></umb-load-indicator>
            <table class="table list">
                <thead>
                    <tr>
                        <th class="col-id"><localize key="redirects_id">ID</localize></th>
                        <th class="col-original"><localize key="redirects_originalUrl">Original URL</localize></th>
                        <th class="col-arrow"></th>
                        <th class="col-destination"><localize key="redirectUrls_redirectedTo">Redirected to</localize></th>
                        <th class="col-date"><localize key="redirects_created">Created</localize></th>
                        <th class="col-date"><localize key="redirects_updated">Updated</localize></th>
                        <th class="col-actions"></th>
                    </tr>
                </thead>
                <tbody ng-if="redirects.length == 0">
                    <tr>
                        <td colspan="7" class="empty">
                            <span ng-if="type == 'content'">
                                <localize key="redirects_labelNoContentRedirects">There has not yet been added any redirects to this page.</localize>
                            </span>
                            <span ng-if="type == 'media'">
                                <localize key="redirects_labelNoMediaRedirects">There has not yet been added any redirects to this media.</localize>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr ng-repeat="redirect in redirects">
                        <td class="col-id">{{redirect.id}}</td>
                        <td class="col-original">
                            <a href="{{redirect.urls[0]}}" rel="noopener noreferrer" target="_blank" title="{{redirect.url}}{{redirect.queryString ? '?' + redirect.queryString : ''}}">{{redirect.url}}{{redirect.queryString ? '?' + redirect.queryString : ''}}</a>
                            <small ng-if="redirect.regex">&nbsp;(.*)</small>
                        </td>
                        <td class="col-arrow">
                            <i class="umb-table-body__icon umb-table-body__fileicon icon-arrow-right" style="font-size: 12px; line-height: 1;"></i>
                        </td>
                        <td class="col-destination">
                            <span ng-if="redirect.link.type == 'content'">
                                <localize key="redirects_content">Content</localize>:
                                <a href="{{redirect.link.url}}" rel="noopener noreferrer" target="_blank" title="{{redirect.link.name ? redirect.link.name : redirect.link.url}}">{{redirect.link.name ? redirect.link.name : redirect.link.url}}</a>
                            </span>
                            <span ng-if="redirect.link.type == 'media'">
                                <localize key="redirects_media">Media</localize>:
                                <a href="{{redirect.link.url}}" rel="noopener noreferrer" target="_blank" title="{{redirect.link.name ? redirect.link.name : redirect.link.url}}">{{redirect.link.name ? redirect.link.name : redirect.link.url}}</a>
                            </span>
                            <span ng-if="redirect.link.type == 'url'">
                                <localize key="redirects_url">URL</localize>:
                                <a href="{{redirect.link.url}}" rel="noopener noreferrer" target="_blank" title="{{redirect.link.url}}">{{redirect.link.url}}</a>
                            </span>
                            <small ng-if="redirect.forward">&nbsp;?&amp;</small>
                        </td>
                        <td class="col-date">{{redirect.created | date: 'yyyy-MM-dd HH:mm'}}</td>
                        <td class="col-date">{{redirect.updated | date: 'yyyy-MM-dd HH:mm'}}</td>
                        <td class="col-actions">
                            <button type="button" ng-click="editRedirect(redirect)" class="btn btn-link"><localize key="redirects_edit">Edit</localize></button>
                            <button type="button" ng-click="deleteRedirect(redirect)" class="btn btn-link red"><localize key="redirects_delete">Delete</localize></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>