<div ng-controller="SkybrudUmbracoRedirects.OutboundRedirectEditor.Controller">
    <div class="SkybrudPropertyEditors LinkPicker SingleLinkPicker">
        <div>
            <label style="margin: 0; padding: 0;">
                <input type="radio" name="radio_{{model.id}}" ng-model="mode" value="permanent" ng-change="changed()" />
                <localize key="redirects_labelPermanentRedirect">Permanent redirect</localize> (301)
            </label>
            <label style="margin: 0 0 0 10px; padding: 0;">
                <input type="radio" name="radio_{{model.id}}" ng-model="mode" value="temporary" ng-change="changed()" />
                <localize key="redirects_labelTemporaryRedirect">Temporary redirect</localize> (307)
            </label>
        </div>
        <hr style="margin: 10px 0;" />
        <div ng-if="model.value.destination" class="umb-node-preview" style="max-width: initial;">
            <i ng-if="model.value.destination.type == 'content'" class="umb-node-preview__icon icon-document"></i>
            <i ng-if="model.value.destination.type == 'media'" class="umb-node-preview__icon icon-picture"></i>
            <i ng-if="model.value.destination.type == 'url'" class="umb-node-preview__icon icon-link"></i>
            <div class="umb-node-preview__content">
                <div class="umb-node-preview__name">{{model.value.destination.name}}</div>
                <div class="umb-node-preview__description">{{model.value.destination.url}}</div>
            </div>
            <div class="umb-node-preview__actions">
                <a class="umb-node-preview__action" href="" ng-click="editLink()"><localize key="general_edit">Edit</localize></a>
                <a class="umb-node-preview__action umb-node-preview__action--red" href="" ng-click="removeLink()"><localize key="general_remove">Remove</localize></a>
            </div>
        </div>
        <button type="button" ng-if="!model.value.destination" class="umb-node-preview-add" ng-click="addLink()" style="max-width: initial;">
            <localize key="redirects_selectDestination">Select destination</localize>
        </button>
    </div>
</div>