<div class="SkybrudUmbracoRedirects AddRedirectDialog" ng-controller="SkybrudUmbracoRedirects.AddRedirectDialog.Controller">

    <div class="umb-overlay-header">
        <h4 class="umb-overlay__title">
            <localize key="redirects_addNewRedirect">Add new redirect</localize>
        </h4>
        <p class="umb-overlay__subtitle">
            <localize key="redirects_addNewRedirectSubTitle">Fill out the fields below to add a new redirect.</localize>
        </p>
    </div>

    <div class="umb-overlay-container">
        <label ng-hide="hideRootNodeOption">
            <strong><localize key="redirects_site">Site</localize></strong>
            <small><localize key="redirects_siteDescription"></localize></small>
            <select ng-options="item as item.name for item in rootNodes track by item.id" ng-model="rootNode" ng-change="rootNodeChanged()"></select>
        </label>
        <label>
            <strong><localize key="redirects_originalUrl">Original URL</localize></strong>
            <small>
                <localize key="redirects_labelUrlDescription">Select the URL to match.</localize>
            </small>
            <div ng-show="redirect.url.length > 0 && !hasValidUrl()" class="alert alert-danger">
                <localize key="redirects_urlNotValid">The specified URL is not valid. A valid URL should look like <code>/page</code> or <code>/page/subpage</code>.</localize>
            </div>
            <input type="text" ng-model="redirect.url" />
        </label>
        <label ng-if="!page">
            <strong><localize key="redirects_destination">Destination</localize></strong>
            <small>
                <localize key="redirects_labelDestinationDescription">Select the page or URL the user should be redirected to.</localize>
            </small>
            <div ng-if="redirect.link">
                {{redirect.link.name ? redirect.link.name : redirect.link.url}}
                <a class="edit" href="#" prevent-default="" ng-click="editLink()"><i class="icon icon-edit"></i></a>
            </div>
            <div ng-if="!redirect.link">
                <a class="link" href="#" prevent-default="" ng-click="addLink()">
                    <localize key="redirects_selectDestination">Select destination</localize> <i class="icon icon-add"></i>
                </a>
            </div>
        </label>
    </div>

    <div class="umb-overlay-drawer">
        <a href="#" prevent-default ng-click="close()" class="btn btn-default">
            <localize key="redirects_cancel">Cancel</localize>
        </a>
        <a href="#" prevent-default ng-click="save()" class="btn btn-success btn-loader" ng-class="{loading: loading}">
            <localize key="redirects_addRedirect">Add redirect</localize>
            <div class="umb-button__progress -white"></div>
        </a>
    </div>

</div>